/inventoryMKApp/inventoryMK-DTO/target/
/inventoryMKApp/inventoryMK-DAO/target/
/inventoryMKApp/inventoryMK-Business/target/
/inventoryMKApp/inventoryMK-WebPortal/target/
/inventoryMKApp/inventoryMK-DAO/nbactions.xml